html, * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin-top: 5%;
	text-align: center;
	font-family: futura-pt, sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: blueviolet;
}


h1{
	display: flex;
	justify-content: center;
}

.links {
	width: 100%
}
